header{
	text-align:center;
    height:150px;
    background:	#9ACD32;
}

div{
    text-align:center;
    background:#E6E6FA;
    width: 600px;
	margin: 30px;
	padding:20px;
}

table{
    width: 400px; 
    border: 1px solid chartreuse; 
    margin: 30px;
	padding:20px;
}

tb{
     text-align:center
}

form{
    text-align:center;
    font-size: 30px;
    background:	#E6E6FA;
    width: 500px;
	margin: 30px;
	padding:20px;
}

ol{
    text-align:center
}

nav{
    margin: 20px;
    border-radius: 10px;
    background:#E6E6FA;
    padding:20px;
    width: 200px;
	flex: 1;
	order:1;
	
}
#menu{
	text-decoration:underline;
	word-spacing: 8px;
}

#p1{
    align-content: center;
	width: 600px;
	height: auto; 
	text-align: center;
	border-radius: 10px;
	font-size: 25px;
	border-radius: 10px;
	background:  #b2fba5;
	flex:2;
	order:2;
}

#p2{
	flex:3;
	order:3;
}

#p3{
	flex:4;
	order:4;
}

h1{
    text-align:center;
}

h2{
    text-align:center;
}

h4{
    text-align:center;
    background:#E6E6FA;
    
}

footer {
    border-radius: 10px;
    height: 70px;
    background: url(https://www.thonky.com/legend-of-zelda/zelda-map.png);
}

.gr{
    background-color:chartreuse;
}
.yl{
    background-color:darkgoldenrod;
}

#maintest{
	display: flex;
	flex-dirextion: column;
	justify-content: flex-start;
}


@media screen and (max-width: 900px) 
{
	#maintest{
		flex-dirextion:row;
	}

	#p1{
		order:1;
	}
	#p2{
		order:3;
	}
	#p3{
		order:2;
	}

}
