header{
    height:150px;
    background:	#9ACD32;
}

header p{
	font-size:50px; 
	text-align:left;
}
header img{
	float:left;
	padding: 20px; 
	height: 120px;
}

table{
    border: 1px solid chartreuse; 
    margin: 30px;
	padding:20px;
}

tb{
     text-align:center
}

form{
    text-align:center;
    font-size: 30px;
	margin: 30px;
	padding:20px;
}

ol{
    text-align:center;
	
}

nav{
    margin: 20px;
    border-radius: 10px;
    background:#E6E6FA;
    padding:20px;
	height: 200px;
	flex: 1;
	order:1;
	
}

.left{float:left;
}

#menu{
	text-decoration:underline;
	word-spacing: 8px;
}

#p1{
    align-content: center;
	height: auto; 
	text-align: center;
	font-size: 25px;
	border-radius: 10px;
	background: #E6E6FA;
	flex:2;
	order:2;
	margin: 30px;
	padding:20px;
}

#p2{
	background:	#E6E6FA;
	flex:3;
	order:4;
	margin: 30px;
	padding:20px;
}

#p3{
	background:	#E6E6FA;
	flex:4;
	order:3;
	margin: 30px;
	padding:20px;
}

h1{
    text-align:center;
}

h2{
    text-align:center;
}

h4{
    text-align:center;
    background:#E6E6FA;
    
}

footer {
    border-radius: 10px;
    height: 70px;
    background: url(https://www.thonky.com/legend-of-zelda/zelda-map.png);
}

.gr{
    background-color:chartreuse;
}
.yl{
    background-color:darkgoldenrod;
}

#maintest{
	display: flex;
	flex-direction: column;
}


@media only screen and (min-width: 800px) 
{
	header{
		padding-left: 350px;
	}
	
	#maintest{
		flex-direction:row;
	}
	nav{
		weight:100px;
	}

	#p1{
		weight:300px;
		order:1;
	}
	#p2{
		weight:300px;
		order:2;
	}
	#p3{
		weight:300px;
		order:3;
	}

}
